* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(180.96deg, #000000 0.82%, #4a2800 129.1%);
}

main {
  width: 100%;
  height: 100vh;
}
main header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
main header .item-1 h4 {
  font-size: larger;
}
main header .item-2 {
  display: flex;
}
main header .item-2 ul {
  margin-right: 200px;
  display: flex;
}
main header .item-2 ul li {
  margin: 0 50px;
  list-style: none;
  cursor: pointer;
}
main header .item-2 ul li a {
  font-size: 16px;
  text-decoration: none;
  z-index: 3;
  position: relative;
}
main header .item-2 button {
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #fa9021;
}
main header .item-2 li {
  margin: 0 50px;
  list-style: none;
  cursor: pointer;
}
main header .item-2 li a {
  font-size: 16px;
  text-decoration: none;
  z-index: 3;
  position: relative;
}
main .contain {
  padding: 0 200px;
  padding-top: 150px;
  padding: 150px;
  font-size: larger;
  display: flex;
  background-color: rgb(15, 8, 0);
}
main .contain .logo-1 {
  width: 100vh;
}
main .contain .logo-1 button {
  color: white;
  padding: 15px 25px;
  background-color: #fa9021;
  border-radius: 40px;
  border: none;
}
main .contain .logo-1 p:first-child {
  color: #fa9021;
}
main .contain .logo-1 h3 {
  font-size: 50px;
}
main .contain img {
  margin-top: 200px;
  margin-left: 50px;
}
main .contain .logo-2 {
  background-image: url(..//imges/joy_stick\ 1.png);
  background-size: cover;
  margin-top: -280px;
}
main .contain .logo-2 .unreal {
  margin-left: 500px;
  margin-top: -300px;
}
main .contain-2 {
  background-color: #000000;
  padding: 100px 100px;
}
main .contain-2 .header {
  display: flex;
  justify-content: space-around;
}
main .contain-2 .header button {
  background-color: rgba(255, 255, 255, 0.1098039216);
  padding: 15px 25px;
  border-radius: 6px;
  margin-top: -10px;
  border: none;
}
main .contain-2 .main {
  display: flex;
  justify-content: space-around;
}
main .contain-2 .main .img-1 {
  text-align: center;
}
main .contain-3 {
  background-color: rgb(15, 8, 0);
  text-align: center;
  padding: 100px 100px;
}
main .contain-3 .lorem {
  text-align: start;
}
main .contain-4 {
  text-align: center;
  background-image: url(..//imges/Rectangle\ 5.png);
  background-size: cover;
}
main .contain-5 {
  background-color: #000000;
  padding: 100px 100px;
  text-align: center;
}
main .contain-5 button {
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.1098039216);
  border: none;
  border-radius: 6px;
}
main .contain-6 {
  display: block;
  text-align: start;
  padding: 100px 250px;
}
main .contain-7 {
  font-size: large;
  padding: 100px 100px;
  background-color: rgb(15, 8, 0);
  display: flex;
}
main .contain-7 .group-1 {
  display: block;
  padding-right: 80px;
}
main .contain-7 .group-2 {
  padding: 0 80px;
}
main .contain-7 .group-3 {
  padding: 0 80px;
}
main .contain-8 {
  text-align: center;
  padding: 30px 0;
  background-color: rgb(15, 8, 0);
}
main .container-1 {
  background-color: rgb(15, 8, 0);
  padding-bottom: 100px;
  padding-top: 50px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}
main .container-1 .about-us-1 {
  line-height: 50px;
  font-size: larger;
}
main .container-1 .about-us-1 button {
  background: linear-gradient(92.48deg, #fa8305 2.08%, #fb9e3c 117.25%);
  padding: 15px 25px;
  border: none;
  border-radius: 40px;
}
main .container-2 {
  padding: 100px 100px;
  background-color: rgb(15, 8, 0);
}
main .container-2 .Ipsums {
  display: flex;
  justify-content: space-between;
}
main .container-2 .Ipsums .Ipsum-1 {
  width: 378px;
  height: 348px;
  background-color: #1c140f;
  border-radius: 20px;
  padding: 50px 20px;
}
main .container-2 .Ipsums .Ipsum-1 button {
  background: rgba(176, 0, 220, 0.1098039216);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
main .container-2 .Ipsums .Ipsum-1 h4 {
  margin: 20px 0;
}
main .container-2 .Ipsums .Ipsum-1 p {
  width: 304px;
}
main .container-3 {
  display: flex;
  background-color: #1c140f;
  padding: 100px 100px 0 100px;
}
main .container-3 .lorem-2 {
  padding: 100px 100px;
  line-height: 30px;
}
main .container-3 .lorem-2 h1 {
  margin: 20px 0;
  width: 541px;
}
main .container-3 .lorem-2 p:last-child {
  width: 536px;
  font-size: larger;
}
main .container-4 {
  padding: 100px 100px;
  background-color: rgb(15, 8, 0);
  text-align: center;
}
main .container-4 h1 {
  text-align: start;
}
main .container-4 .COO-box {
  display: flex;
  gap: 20px;
  text-align: center;
  padding: 0 100px;
}
main .container-4 .COO-box .COO {
  border-radius: 20px;
  width: 295px;
  height: 253px;
  text-align: center;
  align-items: center;
  background-color: #1C140F;
}
main .container-5 {
  padding: 100px 100px;
  background-color: rgb(15, 8, 0);
}
main .container-6 {
  padding: 100px 100px;
  background-color: rgb(15, 8, 0);
}
main .main-1 {
  text-align: center;
  background-color: rgb(15, 8, 0);
}
main .main-2 {
  background-color: rgb(15, 8, 0);
  display: flex;
  justify-content: space-evenly;
  padding: 100px 100px;
}
main .main-2 .address .fasebook {
  display: flex;
}
main .main-3 {
  text-align: center;
  background-color: #1C140F;
  padding: 100px 100px;
}
main .main-3 button {
  padding: 15px 20px;
  background-color: #DC7000;
  border: none;
  border-radius: 10px;
  margin-left: 559px;
}
main .main-3 form {
  text-align: start;
  margin: 0 400px;
  width: 671px;
}
main .main-3 form .name-input {
  display: flex;
}
main .main-3 form .name-input .input-1 {
  display: block;
}
main .main-3 form .name-input .input-2 {
  display: block;
}
main .main-3 form .input-3 input {
  padding: 15px 410px 15px 15px;
  width: 671px;
}
main .main-3 form .input-4 textarea {
  width: 671px;
  height: 232px;
  color: #000000;
  font-size: larger;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #CECECE;
}
main .main-3 form input {
  top: 0;
  padding: 15px 83px 15px 15px;
  border-radius: 10px;
  outline: none;
  background-color: #CECECE;
  color: #000000;
  font-size: larger;
}
main .main-3 form label {
  text-align: start;
  color: #4F4F4F;
}

.stay {
  background-color: #1c140f;
  border-radius: 15px;
  padding: 100px 100px;
  display: grid;
  grid-template-columns: auto auto;
}

.Group_40_email {
  width: 385.68px;
  height: 48px;
  top: 4409px;
  left: 843.32px;
  border-radius: 8px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
}
.Group_40_email input {
  outline: none;
  border: none;
  margin-left: 30px;
  line-height: 30px;
  color: black;
  width: 300px;
}
.Group_40_email button {
  width: 105px;
  height: 37px;
  top: 4415px;
  left: 1117.77px;
  border-radius: 8px;
  background: #DC7000;
  border: none;
  margin-right: 10px;
}

.home_sevices {
  margin: 50px auto;
}

.services_headline p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  text-align: center;
}
.services_headline p span {
  color: #E47500;
}
.services_headline h3 {
  font-family: Poppins;
  font-size: 33px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
}
.services_headline h4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.services_Second_line {
  display: grid;
  grid-template-columns: auto auto auto;
  background: #1C140F;
  width: 1140px;
  height: 200px;
  top: 393px;
  left: 170px;
  border-radius: 10px;
  margin: 50px auto;
}
.services_Second_line div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.services_Second_line div div {
  display: block;
  text-align: left;
}

hr {
  width: 100px;
  transform: rotate(90deg);
  margin-left: 50px;
}

.services_main {
  margin: 0px auto;
}

.spider-man {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services_body {
  background: #000000;
}

.game_info_about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  margin: 150px auto;
}
.game_info_about h2 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}
.game_info_about p {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.game_info_about button {
  width: 177px;
  height: 50px;
  background: #DC7000;
  border-radius: 20px;
}

.Trusted_div {
  background: #1C140F;
  padding: 100px 100px;
  font-family: sans-serif;
  width: 100%;
  height: 638px;
}
.Trusted_div .customers {
  display: flex;
  justify-content: space-between;
}
.Trusted_div .Customer {
  width: 400px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px 5px;
}
.Trusted_div .Customer .Customer-img {
  display: flex;
  justify-content: space-between;
}
.Trusted_div .Customer .Customer-p {
  padding: 20px 10px;
  line-height: 25px;
  font-size: large;
}

/*# sourceMappingURL=style.css.map */
